.btn {
    font-family: var(--font-primary);
    border-radius: 8px;
    border: solid 2px black;
    padding: 12px 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btn:hover{
    color: var(--hover-on-white-text);
    box-shadow: var(--shadow-box);
}

.primaryBlack{
    font-size: var(--text-button-primary);
    color: var(--text-white);
    background-color: black;
    padding: 20px 150px;
}

.primaryWhite{
    font-size: var(--text-button-primary);
    color: var(--text-primary);
    background-color: var(--bg);
    padding: 20px 150px;
}

.primaryBlackLessPadding{
    font-size: var(--text-button-primary);
    color: var(--text-white);
    background-color: black;
    padding: 10px 30px;
}

.primaryWhiteLessPadding{
    font-size: var(--text-button-primary);
    color: var(--text-primary);
    background-color: var(--bg);
    padding: 10px 30px;
}
.secondaryBlack{
    padding: 4px 12px;
    font-size: var(--text-body2);
    color: var(--text-white);
    background-color: black;
}

.secondaryWhite{
    padding: 4px 12px;
    font-size: var(--text-body2);
    color: var(--text-primary);
    background-color: var(--bg);
}

.primaryWhite:hover, .primaryWhiteLessPadding:hover, .secondaryWhite:hover{
    color: var(--hover-on-black-text);
}

.active {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed ;
    /* color: #969696; */
}

/*make it smaller for small devices*/
@media (max-width: 480px) {
    .primaryBlack {
        font-size: var(--text-body1);
    }

    .secondaryBlack, .secondaryWhite{
        font-size: var(--text-body3);
        padding: 2px 6px;
    }
} 