.alert {
    padding: 10px 5px 10px 20px ;
    background-color: var(--bg-offWhite);
    position : fixed;
    top : 20px;
    right : 20px;
    z-index: 1000;
    box-shadow: var(--shadow-box);
    border-radius: 8px 1px 1px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 15px;
}

.msg {
    font-weight: 400;
    font-size: var(--text-body1);
    text-shadow: var(--shadow-text);
}

.success {
    color: var(--text-primary);
    border: 0.5px solid var(--success);
    border-right: 6px solid var(--success);
}

.error {
    color: var(--text-primary);
    border: 0.5px solid var(--error);
    border-right: 6px solid var(--error);
}

.info {
    color: var(--text-primary);
    border: 0.5px solid var(--alert-info);
    border-right: 6px solid var(--alert-info);
}

.closeIcon {
    margin-right : 0 ;
}

.closeIcon:hover{
    transform: scale(1.1, 1.1);
    color: var(--bg-gray1);
}

button {
    border : none;
    background-color: inherit;
}

@media (max-width: 468px) {
    .alert{
        right: 2px;
        padding: 10px 2.5px 10px 12px ;
    }
    .msg{
        font-size: var(--text-body3);
    }
}