.parent {
    background-color: var(--bg-gray);
    margin : 0;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width : 100%;
    border-top: 0.8px solid var(--border-containers);
}

.subheading {
    margin: 20px;
    color: var(--text-primary);
    font-size: var(--text-body1);
}

.right {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 20px;
}