/*stylesheet for login.jsx, register.jsx and related pages*/

.app { /*the root element*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    gap: clamp(1rem, 75px, 5rem);
    margin-bottom: 6rem;
}

.formParent {
    margin-left: 10px;
    text-align: center;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content:center;
    text-align: left;
}

.title {
    margin-bottom: 0px ;
}

.description {
    font-size: var(--text-body2);
    color: var(--text-secondary);
    margin-bottom: 20px;
    margin-top: 0px;
}
form {
    display: flex;
    flex-direction: column;
}

.formFieldContainer { /*container of all input fields but not submit button, to create margin from button */
    margin-bottom: 40px;
}

.blockFormFields {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

input, select{
    font-family: var(--text-primary);
    font-size: var(--text-body2);
    padding: 10px;
}
input:focus{
    outline: 2px solid black;
    box-shadow: var(--shadow);
}



select:focus{
    outline: none;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    box-shadow: var(--shadow);
}


.register {
    margin-top: 25px;
}

.graphicContainer {
    margin-right: 20px;
}

.graphic {
    margin-left: 20px;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    height: auto;
}

.footer {
    margin-top: auto;
}