.container {
    background-color: var(--header-navbar-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px 20px 10px;
    border-bottom: 0.8px solid var(--border-containers);
}

.title{
    transform: translateY(25%);
}


.left, .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerLogo {
    height: 40px;
    width: 40px;
}

@media (max-width: 600px){
    .container{
        padding: 3px 5px 10px 5px;
    }
    .title{
        font-size: 20px;
    }

    .left, .right{
        gap: 3px;
    }

}

@media (max-width: 390px){
    .container{
        padding: 2px 4px 9px 4px;
    }

}