.container{
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    position: absolute;/*compensate for navbar */
    top: 60px;
    left: 0;
    right: 0;
    z-index: 9999;
}

.dialogBox{
    background-color: var(--bg-offWhite);
    max-width: 600px;
    min-width: 340px;
    width: 60vw;
    height: 50vh;
    min-height: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: var(--shadow-box);
    padding-bottom: 10px;
}

