.container {
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px 20px 10px;
    box-sizing: border-box;
}

/*hamburger menu*/
.left > span {
    transform: translateY(-5%);
}

.searchBar {
    position: relative;
    margin: 12px 5px 12px 12px;
    flex: 1;
    width: clamp(250px, 50vw, 650px);
    box-sizing: border-box;
}

.searchBar input {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    padding: 10px;
    border: solid 0.5px var(--border);
    border-radius: 50px;
    /*box sizing here and background color on the search icon are the key to prevent visible text under the search icon*/
    box-sizing: border-box;
    box-shadow: var(--shadow-box-bottom);
    color: var(--text-primary);
    font-size: 20px;

}

.searchBar input:focus{
    outline: none;
    border-width: 1.2px;
    box-shadow: var(--shadow-box);
    font-weight: 600;
}

/*search icon*/
.searchBar span {
    position: absolute;
    right:0;
    /*below 2 lines can make an element inline (shift top of the element midway of the line, then pull up it 50% of its height)*/
    transform: translateY(-50%);
    top: 50%;
    margin-right: 10px;
    background-color: #f9f9f9;
}

#closeBtn{
    right: 35px;
}

#closeBtn:hover, #searchIcon:hover {
    cursor: pointer;
    background-color: var(--hover-icon);
    border-radius: 100%;
}

/*parent of search bar*/

.left, .center, .right {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/*Breakpoints*/

/*mobile*/
@media (max-width: 768px) {
    /*make the searchbar a little smaller in width*/
    .searchBar {
        width: clamp(50px, 30vw, 350px);
    }
}

/*Hide the search bar box and only show the icon*/
@media (max-width: 600px){

    /*reducing spacings and margins between elements for mobile views*/
    .center{
        gap:20px;
    }
    
    .left, .right{
        gap: 2px;
    }

    .searchBar{
        width: fit-content;
        padding: 0px;
        margin: 0;
    }

    .searchBar input {
        display: none;
    }

    /*search icon*/
    .searchBar span {
        margin-right: 0;
    }

    /*Key to push .center and .right to the right in mobile view*/
    /*like this --> [left]   [center][right]*/
    .container {
    justify-content: flex-start;
    }
    .left {
        flex-shrink: 0;
    }

    .center {
        margin-left: auto;
    }

    .right {
        margin-left: 8px;
    }

    /*give right margin to the search icon*/
    .searchBar span {
        margin-right: 15px;
    }
}

@media (max-width: 480px) {
    /*Hide sort on smal screens*/
    .center > span {
        display: none;
    }

    /*give right margin to the search icon*/
    .searchBar span {
        margin-right: 25px;
    }
}